body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h4:hover{
    text-decoration:  underline cornflowerblue ;
    text-underline-style: dash-dot-dot-heavy;
}
.rows {
    display: inline-flex;
    padding-top: 30px;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    justify-items: stretch;
    align-items: center;


}

.ss{
    margin: auto;
}

.col_left, .col_right{
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;

}

.col_mid{
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    padding: 30px;
}

.footer {
    background-color: #f1f1f1;
    text-align: center;

}

.topnav {
    overflow: hidden;
    background-color: white;

}

.topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #888888;
    color: white;
    border-radius: 5px;
    width:fit-content;
    opacity: 12%;
}
#topnavhead{
    float: left;
}

.active {
    background-color: #08afec;
    color: white;
    border-radius: 5px;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;
        width: 100%}
    #topnavhead.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        color: black;
        margin-top: 8%;
        width: fit-content;
    }
    .topnav.responsive a:hover {
        background-color: #08afec;
        color: white;
        border-radius: 5px;
        width:fit-content;
    }
    #topnavhead.responsive img{
        width: 48px;
        height: 48px;
        margin-bottom: 5%;
    }
    #topnavhead.responsive h{
        font-size: 8px;
        margin-bottom: 5%;
    }
}

{box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;
    border-radius: 10px}
img:hover{
    opacity: 0.6;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #08afec;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}


@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}

.logout{
    background-color: #08afec;
    color: white;
    border-radius: 5px;
    width: 75px;
    height: 40px;
    border-width: 0;
}

.logout:hover{
    background-color: #08afec;
    color: black;
    border-radius: 5px;
    width: 75px;
    height: 40px;
    border-width: 0;
}

a{
    text-decoration: none;
}

.fa-facebook,.fa-envelope,.fa-phone,.fa-instagram,.fa-map {
    background: transparent;
    color: black;
}

.fa:hover {
    opacity: 0.9;
    color: blue;
}

.fa-key,.fa-user{
    padding-left: 5%;
}

.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
.staff-rows{
    -webkit-flex-direction: row;
    display:flex;
}
.staff-rowd{
    display: flex;
    padding-right: 3%;
    justify-items: center;
    flex-wrap: wrap;
}
.myflex{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: fit-content;
}