#usname, #pasw{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}
#popuplogin{
    background-color: darkgoldenrod;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 70%;
    border-radius: 10px;
}
#popuplogin:hover{
    opacity: 0.6;
}
.exitbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #08afec;
    border-width: 0px;
    border-radius: 5px;
}
.exitbtn:hover{
    background-color: #08afec;
    color: white;
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
img.avatar {
    width: 40%;
    border-radius: 50%;
}
.container {
    padding: 16px;

}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.2);
    /*background-color: rgba(0,0,0,0.4);*/
    padding-top: 60px;
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 2px solid #888;
    width: fit-content;
    border-radius: 10px;
}
.close {
    position: absolute;
    right: 5px;
    top: -30px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    background-color: transparent;
    border: 0px;
}
.close:hover{
    position: absolute;
    right: 5px;
    top: -30px;
    color: #7d0802;
    font-size: 35px;
    font-weight: bold;
    background-color: transparent;
    border: 0px;
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
@media screen and (max-width: 200px) {
    .exitbtn {
        width: 100%;
    }
}

.regiform{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 6px;
}
#login{
    background: transparent;
    color: darkblue;
    border-width: 0px;
    text-decoration: underline;
}
#mylogin{
    font-size: 12px;
}
#submit{
    border-width: 0px;
    border-radius: 4px;
    background-color: #08afec;
    color: black;
    width: 140px;
    height: 35px;
}
